.card {
    margin:20px 0;
    padding:5px 10px;
    /* max-width: 300px; */
    border:solid 1px silver;
    border-radius:6px;
    box-shadow: 2px 2px 8px #666;
}

.title {
    color:#666;
    font-size:26px;
    font-weight: bold;
    margin:5px 0;
    display:flex
}

.content {
    display:flex;
}

ul {
 list-style: none;
}

.content li {
  line-height: 30px;
}

.modelTitle {
    color:green;
    font-size:18px;
    font-weight:bold
}

.priceTitle {
    color:blue;
    font-weight:bold;
}

.startTitle {
    font-weight: normal;
    color:#000;

}
.form {
    font-family:arial
}

.form li{
    line-height: 36px;
    color:#666;
    font-weight: bold;
  display:grid;
  grid-template-columns: 50px 200px;
}

input {
    font-size: 20px;
    width: -webkit-fill-available;
    border-radius: 4px;
    border: solid 1px silver;
    padding: 3px 0;
}

.addButton {
    display: flex;
    background-color: #0d6efd;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 10px 60px;
    cursor: pointer;
    margin-right:10px;
    align-items: center;
}

.submitBtn{
    display: flex;
    flex:1 1 100%;
    background-color: green;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 10px 60px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    top: 2px;
    left: 5px;
}

 .chkBox {
    font-size: 20px;
    transform: scale(1.5);
    width: -webkit-fill-available;
    border-radius: 4px;
    border: solid 1px silver;
    padding: 3px 0;
    position: relative;
    top: -2px;
 }

 .marginLeft{
    /* margin-left:10px */
 }

 .mainDesc{
    font-size:18px;
    text-align: center;
    margin-top:10px;
    border-top:solid 1px silver;
    padding:10px 0;
    border-bottom:solid 1px silver
 }